<html>
	<head>
		<title class = “Quiz1”>“You got:Earthy Ameteur!”</title>
	</head>
	<div>

<h1>You know what the earth is... right? Just Kidding! You have a long way to go to become a Earth Crusader but luckily we are here to help! Click on the links and improve your earthy skills. Save the earth! </h1>
</div>

	<ol>
	<a href =https://esajournals.onlinelibrary.wiley.com/doi/full/10.1890/ES11-00166.1><img = " https://firstsrq.com/wp-content/uploads/2013/04/earthste.png"</a>
		<li><h1>Earth Stewardship for Beginners</h1></li>

	<a href =https://whatis.techtarget.com/definition/greenhouse-gas><img = "https://uploads-ssl.webflow.com/563af1f22d098052128752c6/5640d022543830955465e75a_earth.jpg"</a>
		<li><h1>What is a Greenhouse Gas?</h1></li>
