<html>
<head>
  <title class = “Quiz1”>“You got:Earth Crusader!”</title>
</head>
<div>

<h1>You are a earthy steward: keep up the good work by visiting these fantastic websites! Click on these links and your amazing skills
will put it in tip-top shape!</h1>
</div>

<ol>
  <a href = http://www.cbf.org/join-us/volunteer><img = "https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=
    images&cd=&cad=rja&uact=8&ved=2ahUKEwiovaqux_
  bbAhVxrlkKHRwGC6AQjRx6BAgBEAU&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FChesapeake_Bay_Foundation&psig=AO
  vVaw3BDVoROYV7LjSzlxJYsZSh&ust=1530282000967768"</a>
  <li><h1>Chesapeake Bay Foundation</h1></li>
<a href = https://boxedwaterisbetter.com/pages/betterplanethref><img = "https://inhabitat.com/files/boxedwater_3.jpg"</a>
  <li><h1>Boxed Water is Better</h1></li>
  
