<!DOCTYPE html>
<html>
<head>
  <h1> Groups Near You</h1>
<head>
  <a href =https://gogreeninitiative.org/about/what-is-ggi/><img = "https://media.treehugger.com/assets/images/2011/10/GG_logo_4c_B.GIF"</a>
  <li><h1>Go Green Initiative </h1></li>
        <a href =http://www.cbf.org/join-us/volunteer><img = "https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiovaqux_bbAhVxrlkKHRwGC6AQjRx6BAgBEAU&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FChesapeake_Bay_Foundation&psig=AOvVaw3BDVoROYV7LjSzlxJYsZSh&ust=1530282000967768"</a>
  <li><h1>Chesapeake Bay Foundation</h1></li>
        <a href =https://boxedwaterisbetter.com/pages/betterplanethref><img = "https://inhabitat.com/files/boxedwater_3.jpg"</a>
  <li><h1>Boxed Water is Better</h1></li>
        <a href =https://www.goodnet.org/articles/5-stellar-environmental-volunteer-opportunities-list><img = "http://volunteerinternational.org/wp-content/uploads/2014/04/earth-day-3.jpg"</a>
  <li><h1> Enviornmental Volunteering</h1></li>
        <a href =https://gogreeninitiative.org/about/what-is-ggi/><img = "https://media.treehugger.com/assets/images/2011/10/GG_logo_4c_B.GIF"</a>
