<!DOCTYPE html>
<html>
<head>
  <h1> How You Can Help </h1>
  <link rel="stylesheet" type="text/css" href="css/help.css">
<head>
  <body>
  <br>
  <p>These are things you can do to help the environment. Always remember: reduce, reuse, recycle. The earth needs you! :) </p>
  <br>
  <p>Always recycle. Recycling companies will turn this waste into new textiles and stopping the toxic harvest of non-renewable resources. </p>
  <br>
  <p> Convert to renewable sources of energy such as solar, hydro (water), or air. </p>
  <br>
  <p> When you need to go somewhere nearby, walk or ride a bike rather than driving a car. If you are traveling somewhere out of walking distance try public transportation like buses, trains, and uber. The less amount of vehicles on the roads and highways producing exhaust, the better!</p>
  <br>
  <p>Gardening helps the environment by contributing to our ecosystems. This is important because plants and trees convert carbon into oxygen, making air breathable for us! Trees also, when you garden, help to provide a habitat for lots of life and encourage birds and insects to thrive and reproduce.
  Organic gardening is the best gardening for our environment! In organic gardening, you don’t use fertilizers or pesticides. All you use is organic or natural products to garden. This allows insects to thrive in the crops, letting them reproduce and sustain the circle of life!
  When you mowing your lawn use a cordless electrical lawn mower this helps minimize the amount of pollution that is produced.Lawn mowers use gas, which is a nonrenewable resource and produces harmful greenhouse gases. </p>
