<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1 id="hello">Hello World!!</h1>
  <br>
  <br>
  <br>
  <br>
  <a href= "more_info.erb"><button type = "new page" class="new"> More Information</button></a>
  <a href= "groups.erb"><button type = "new page" class="new"> Groups Near You </button></a>
  <a href= "quiz.erb"><button type = "new page" class="new"> Earth Consciousness Quiz </button></a>
    <a href="help.erb"><button type = "new page" class="new"> How to Help! </button></a>
<br>
<br>
<br>
<br>

<p>Our Mother, Our life, Our home: Earth. As the only planet that holds life,
  we treat it horribly. Polluting, production of greenhouse gasses and more, hurt the earth everyday.
  We have to do something! This website was created as a resource TO make that change. Explore our tabs and take action in your community today. Save the earth!</p>

  <!-- <p>Created by: Alesha Pryor, Grace Herron and Fatoumata Diallo</p> -->
  <!-- <img src= "http://files.softicons.com/download/object-icons/earth-icons-by-pinchodesigns/ico/Earth%203.ico"> </img> -->


<br>
<br>
<br>
<br>

</body>
</html>

<html>
<head>
<style>
div {
    background-color: white;
    width: 1100px;
    border: 20px solid #faf6a3;
    padding: 25px;
    margin: 25px;
    text-align: center;

}
</style>
</head>
<body>


<div>Created by: Grace Herron, Alesha Pryor and Fatoumata Diallo</div>

</body>
</html>
