<!DOCTYPE html>
<html>
<head>
  <h1> More Information</h1>
  <link rel="stylesheet" type="text/css" href="css/more_info.css">
<head>
  <body>
  <br>
  <p>There are multiple types of pollution and they can cause lots of diseases and cancers, not only hurting us but the ecosystem around us! Don't worry. There ARE ways to stop this, and one of them is recycling. When you see glass, plastic, and paper, place it in recycling bins that correspond to the type of material. Recycling companies will turn this waste into new textiles and stopping the toxic harvest of non-renewable resources.
The most common type of pollutants are air, water,and land. Harmful materials get into our waterways, air, etc.. because of the improper way of disposing of these substances. Dispose of your materials through Terracycle, ( “It takes non-recyclable pre-consumer and post-consumer waste and turns it into a raw material to be used in new products” (Wikipedia)) Cash for Trash or just regular recycling bins. Every bit helps!</p>
<br>
<p>Water pollution is not just a problem in the united states, according to the United Nations. 783 million people do not have access to clean water and 2.5 billion people do not have access to adequate sanitation. Sanitation helps to keep sewage and other contaminants from entering the water supply which is vital in preventing water damage. Water damage therefore happens when chemicals or dangerous foreign substances are introduced to water, like pesticides and fertilizer. This limits our water supply which is why water conservation is so vital!</p>
<br>
  <p>Air pollution causes 1 in 8 deaths worldwide,  and accounts for about one third of deaths from stroke, chronic respiratory disease, and lung cancer. Ground level ozone can trigger asthma and chronic respiratory illness and reduces crop growth and agricultural productivity.Globally, ozone has been estimated to cause more than 11 billion dollars worth of crop damage!</p>
<br>
<p>The world health organization estimates that 4.6 million people die each year from causes directly attributable to air pollution.
All of these problems can stop us from breathing, eating seafood and drinking fresh water. You can help make a difference and together we can reduce pollution damage! </p> </p>
<body>
  </html>
