<!DOCTYPE html>
<html>
<head>
	<title>How Earth Conscious are You?</title>
	</head>
<body>
<form action="/results" method="POST">
<h2>How often do you recycle?</h2>
	<input type="radio" name="recycle" value = “2”>All the time!<br>
	<input type="radio" name="recycle" value = “1”>Sometimes.<br>
	<input type="radio" name="recycle" value = “0”>Never. Too far!<br>
<h2>What are the three R’s?</h2>
	<input type="radio" name="rs" value = “1”>Rake, Rethink, Redo<br>
	<input type="radio" name="rs" value = “2”>Reduce, Reuse, Recycle<br>
	<input type="radio" name="rs" value = “0”>Revamp, Remember, Renegade<br>
<h2>If you see trash in a park, what should you do?</h2>
	<input type="radio" name="trash" value = “0”>Leave it. It is not your mess.<br>
	<input type="radio" name="trash" value = “2”>Pick it up and dispose of it properly.<br>
	<input type="radio" name="trash" value = “1”>Tie it to a tree branch.<br>
<h2>Do you carve your name into trees?</h2>
	<input type="radio" name="trees" value = “2”>Never!<br>
	<input type="radio" name="trees" value = “1”>Not often.<br>
	<input type="radio" name="trees" value = “0”>ALL the time.<br>
<h2>What are greenhouse gases?</h2>
	<input type="radio" name="greenhouse" value = “0”>Green gases that make up our atmosphere<br>
	<input type="radio" name="greenhouse" value = “1”>Gases that are produced by humans<br>
	<input type="radio" name="greenhouse" value = “2”>Gases that affect our atmospheres infrared radiation absorption.<br>

<button type="submit" class="new">Find out your score!</button>
</form>

</body>
</html>
